@media screen and (min-width: 360px) {
    .ql-snow.ql-toolbar {
        background-color: lightgray;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .ql-editor {
        min-height: 200px;
    }
}
@media screen and (min-width: 1300px) {
    .ql-snow.ql-toolbar {
        background-color: lightgray;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .ql-editor {
        min-height: 300px;
    }
}